@use '../abstract' as a;

* {
  font-family: 'Kumbh Sans', sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.20;

  @include a.breakpoint(medium) {
    font-size: 3.5rem;
  }
}

p {
  font-size: 1rem;
  line-height: 1.625;
}