.button {
  display: inline-flex;
  justify-content: center;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.75;
  text-decoration: none;
  border: none;
  border-radius: 1.75rem;
  cursor: pointer;
  transition: background-color 0.15s ease-in, color 0.15s ease-in, scale 0.15s ease-in;

  &:hover {
    scale: 1.05;
  }

  &--shadow {
    box-shadow: 0 25px 25px -10px $clr-primary-500-30;
  }

  &--blue {
    color: $clr-white;
    background-color: $clr-primary-500;

    &:hover {
      background-color: $clr-primary-400;
    }
  }

  &--light-blue {
    color: $clr-primary-500;
    background-color: $clr-primary-500-15;

    &:hover {
      color: $clr-primary-500;
      background-color: $clr-primary-500-30;
    }
  }

  &--white {
    color: $clr-primary-500;
    background-color: $clr-white;

    &:hover {
      color: $clr-primary-400;
      background-color: $clr-white;
    }
  }

  &--medium {
    padding: 0.9rem 2rem;
  }
}