// Colors
$clr-primary-400: #829CFF;
$clr-primary-500: #5175FF;
$clr-primary-500-10: #5175FF1A;
$clr-primary-500-15: #5175FF26;
$clr-primary-500-30: #5175FF40;

$clr-grey-600: #747B95;
$clr-grey-600-05: #747B9580;
$clr-grey-900: #333950;
$clr-grey-900-15: #33395026;

$clr-errors: #F05B5B;

$clr-black: #25293A;
$clr-off-white: #FAFAFA;
$clr-white: #FFFFFF;
